{{ define "main" }} {{ range .Params }} {{ end }}
<div id="shorts-list-page">
  <h2 id="shorts-list-page-title">Shorts</h2>
  <div id="shorts-list-page-description">
    <p>
      Place for short-form content.
      <a href="#">Subscribe at your own risk :)</a>
    </p>
  </div>
  <div id="" class="">
    <ol id="shorts-page-container" class="side-padded">
      {{ range where .Site.RegularPages "Section" "shorts" }}
      <li class="shorts-page-item card">
        <div class="shorts-card">
          <div class="shorts-card-content-container">
            <div class="shorts-card-author-section">
              <img class="shorts-card-author-pic" src="/logo.png"></img>
              <span class="shorts-card-author-name">Earl</span>
              <span class="shorts-card-date">
                <a href="{{ .RelPermalink }}" class="card-date">
                  {{ .Date.Format "Jan 2, 2006" }}
                </a>
              </span>
            </div>
            <div class="shorts-card-content">{{ .Content }}</div>
          </div>
        </div>
      </li>
      {{ end }}
    </ol>
  </div>
</div>
{{ end }}
