{{ define "main" }}
<section id="main">
  <article id="shorts-article-container">
        <div class="shorts-card">
          <div class="shorts-card-content-container">
            <div class="shorts-card-author-section">
              <img class="shorts-card-author-pic" src="/logo.png"></img>
              <span class="shorts-card-author-name">Earl</span>
              <span class="shorts-card-date">
                <a href="{{ .RelPermalink }}" class="card-date">
                  {{ .Date.Format "Jan 2, 2006" }}
                </a>
              </span>
            </div>
            <div class="shorts-card-content">{{ .Content }}</div>
          </div>
        </div>
  </article>

</section>
<aside id="meta">
  <div>
    {{ with .GetTerms "topics" }}
    <ul id="topics">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .GetTerms "tags" }}
    <ul id="tags">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div>
    {{ with .PrevInSection }}
    <a class="previous" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
    {{ end }}
    {{ with .NextInSection }}
    <a class="next" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
    {{ end }}
  </div>
</aside>
</div>
{{ end }}
