{{ define "main" }}
<section id="main">
  <div id="article-left-spacer"></div>
  <article id="article-container">
    <div id="title-area">
      <h1 id="title">{{ .Title }}</h1>
      <p>{{ .Description }}</p>
    </div>
    <div>
      <div id="article-info-bar">
        <details>
          <summary>
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </summary>
          Last modified: {{ .Lastmod.Format "Jan 2, 2006" }}
        </details>
        {{ if .Draft }} Note: This is a draft
        {{ end }}
      </div>
      <div id="article-content">
        <div>
          {{ .Content }}
        </div>
      </div>
    </div>
  </article>
  <aside id="article-sidebar-container">
    <div id="article-sidebar">
      {{ if ge (len (.TableOfContents)) 33 -}}
      <h3>Contents</h3>
      {{ .TableOfContents }}
      {{- end -}}

      {{ if .Page.Store.Get "links"}}
      <h3>Links</h3>
      <ol id="article-sidebar-links">
        {{ $a := .Page.Store.Get "links" }}
        {{ range $a }}
        <li>
          <a href="{{ .Destination }}" title="{{ .Title }}">{{ .Text }}</a>
        </li>
        {{ end }}
      </ol>
      {{ end }}
    </div>
  </aside>
</section>
<aside id="meta">
  <div>
    {{ with .GetTerms "topics" }}
    <ul id="topics">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .GetTerms "tags" }}
    <ul id="tags">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div>
    {{ with .PrevInSection }}
    <a class="previous" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
    {{ end }}
    {{ with .NextInSection }}
    <a class="next" href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
    {{ end }}
  </div>
</aside>
{{ end }}
