<header id="header" class="side-padded">
  <div>
    <h1 id="header-blog-title">
      {{ $img := .Resources.Get "logo.png" }}
      {{ with $img }}
        {{ .RelPermaLink }}
      {{ end }}
      <div id="header-site-logo"><img src="/logo.png"></div>
      <a href="/" class="undecorated-link">
        {{ .Site.Title }}
      </a>
    </h1>
    <div>
      <h3 id="blog-follow">
        {{ with .Site.GetPage "/" }}
          {{ with .OutputFormats.Get "rss" }}
          <a href="{{ .Permalink }}" id="feed-subscribe" class="undecorated-link">
          {{ end }}
        {{ end }}
          <i class="rss-icon" data-feather="rss"></i>
          <span>Follow this blog</span>
        </a>
      </h3>
    </div>
  </div>

  <nav id="header-nav">

      <a href="/shorts/" class="undecorated-link">Shorts</a>
      <a href="/about" class="undecorated-link">About</a>
      <a href="/search" class="undecorated-link">Search</a>
      <span id="theme-btn-container" class="header-nav-icon-container">
        <i id="dark-theme-btn" class="header-nav-icon theme-btn" data-feather="moon"></i>
        <span class="theme-btn-separator"></span>
        <i id="light-theme-btn" class="header-nav-icon theme-btn" data-feather="sun"></i>
        <span id="theme-name-display" class="theme-name">Theme Name</span>
      </span>
  </nav>
</header>
